/*--------------- Search ---------------------------*/

.search input{ width: 156px; font-size: 11px; padding: 3px 1px; *padding: 1px; }

/*--------------- Menu box Search ---------------------------*/
#menuSearch{ margin: 15px 0; }
#menuSearch a{ color: black; }
#menuSearch ul{ margin: 0px; padding: 0px; }

#menuSearch li {list-style: none; display: inline; padding: 0 5px; margin-right: 3px; border-right: 1px dotted black; }
#menuSearch li.ativa{ padding: 0 7px; font-weight: 600; }

/*-------------------------------------------------------------*/

#multimediaInput{ background: #eee; padding: 10px; }
#multimediaInput label{ display: block; padding-bottom: 3px; }
#multimediaInput div{ padding-bottom: 20px; }

.multimediaMidias{margin-bottom: 20px;}

#choice span{padding-right: 3px;}
#choice p label{display: inline;}

#embeds{display: none;}
#upload{display: none;}

/*-------------------------------------------------------------*/

.forum{ padding: 10px; background: #ddd; margin-bottom: 5px; }

.forumGray{ padding: 10px; background: #eee; margin-bottom: 5px; }

#mainforum .image{ float: left;	margin: 0 10px 10px 0; padding: 1px; border: 1px solid black; background: white; }
#mainforum a{ color: black; text-decoration: none; }
#mainforum a:hover{ text-decoration: underline; }

/*------------------------ Calendar -----------------------------*/
.calendar{ float: right; width: 250px; }
.calendar .ui-datepicker{ width: auto; font-size: 95%; }
.calendar-by{ font-size: 9px; }

/*------------------------ CHAT -----------------------------*/

.chat{ overflow: hidden; width: 200px; float: right; }
.chat .chat-body{ padding: 10px; height: 170px; overflow: auto; border: 1px inset black; margin-bottom: 10px; clear: both; }
.chat .chat-footer textarea{ float: left; width: 655px; height: 60px;}
.chat .chat-footer input{ float: right; width: 80px; height: 60px; }
.chat .chat-message-line1{ padding: 5px; background: #eee; }
.chat .chat-message-line2{ padding: 5px; background: #fff; }
.chat div.ui-dialog .ui-dialog-titlebar{ padding: 0.2em 0.2em 0.4em 0.2em }

#chat-list ul{ color: black; background: none; background-color: white; border: 1px inset black; height: 200px; overflow: auto; list-style:none; margin:0; padding:0; }
#chat-list ul li{ margin: 0 5px; padding: 3px 0; border-bottom: 1px dotted #ccc; background: none; background-color: white; clear: both; }
#chat-list ul li img{ float: left; margin-top: 3px; }
#chat-list ul li a{ color: black; margin-left: 10px; }
#chat-list .ui-accordion-content{ padding: 5px; }

#chat-content{ height: 270px; }
#chat-buttons{ border-top: 1px solid black; padding: 10px; margin-top: 10px; background: #eee; }
#chat-buttons ul{ margin-left: 0; }
#chat-buttons ul li{ list-style: none; float:left; width: 200px; padding: 5px 10px 5px 10px; margin: 0 2px 2px 0; overflow: hidden; cursor: pointer; }
#chat-buttons ul li img{ width: 30px; }
#chat-buttons ul li span{ position: relative; top: -10px; }
#chat-buttons ul li.chat-button-active{ background: #fff; border: 1px inset black; }
#chat-buttons ul li.chat-button-inactive{ background: #ddd; border: 1px outset black; }

/*-------------------------------------------*/
#viewCertificate
{
	position: absolute;
	left: 50%;
	margin-left: -385px;
	margin-top: 20px;
}

/*--------------------- MODULE COMPOSER DIR ---------------------*/
/* icon upload */
.pre_editor_upload{background-position: 0 -758px;}

/* icon folder */
.margin-folder{ margin: 0 35px 15px 0; padding: 3px; }
.height-icon{ height: 60px; }
.icon-folder{ background: url( ../../../img/icons/folder_empty.png ) no-repeat 10px;  }
.folder{ text-align: center; width: 80px; height: 79px; padding-bottom: 15px; display: block; overflow: hidden; }
.folder-main{ text-align: center; padding: 5px 0; width: 85px; height: 130px; overflow: hidden; }
.folder-main:hover{ background: #cce6f4; }
.folder-main a{ text-decoration: none; }
.folder:hover .icon-folder{ background: #cce6f4  url( ../img/icons/folder_empty.png ) no-repeat 10px; }
.buttons-folder{ left: 80px; opacity: 0.75; filter: alpha(opacity=75); width: 80px; visibility: hidden; }
.buttons-folder ul{ margin: 0; padding: 0; border: 1px dashed orange; }
.buttons-folder ul li{ border-bottom: 1px dashed orange; list-style: none; padding-top: 0; }
.buttons-folder ul li a{ background: #eee; display: block; text-decoration: none; font-weight: bold; padding: 7px 0 3px 5px; }
.buttons-folder ul li a:hover{ background: #cce6f4; }

/* player course */
.mp3player{ top: 0; right: 75px; z-index: 1000; }

/*----------------------- EDITOR ATIVIDADES ---------------------------*/

.pre_editor_paleta a{ float: none; margin: 0 3px 3px 0; text-decoration: none; background: transparent; }

/*----------------------- CONTENT ---------------------------*/

.alphabet{ margin: 6px 0 0 255px; }

.content-icon{ height:18px; margin:-10px 0 0; padding:1px; position:absolute; right:0.3em; top:50%; width:19px; }
.content-comment{ right: 3.2em; }
a.content-comment-number{ right: 2.5em; font-size: 10px; color:#72A7CF; text-decoration:none; }
.content-edit{ right: 1.8em; }
.content-volume{ right: 3.5em; }

/*----------------------- RELATION ---------------------------*/
.added{ border: 1px solid black; background: white; padding: 5px; width: 130px; height: 17px; float: left; margin: 0 5px 5px 0; }
.added div{ width: 110px; overflow: hidden; float: left; margin-right: 5px; height: 15px; background: white; padding: 2px; } 
.added div:hover{ height: auto; position: absolute; }

/*----------------------- Message Profile ---------------------------*/
.message{}
.message .frame{ width: 109px; heigth: 100px; margin: 3px; height: 105px; background: #eee; }
.messageProfile{ padding: 5px; width: 95px; height: 17px; float: left; margin-bottom:3px; margin-top:3px; }
.messageProfile div{ width: 85px; overflow: hidden; float: left; height: 15px; padding: 2px; } 
.messageProfile div:hover{ height: auto; position: absolute; }

/*----------------------- COURSE ---------------------------*/
.course{ margin-right: 260px; }
#course-list{ border: 1px solid #eee; } 
#course-list .one{ background: #eee; }
#course-list .two{ background: white; }

.left_access{ float: left; margin-right: 5px; }

/*---------------------- Avaliacao -------------------*/
.alternatives{ padding-top: 2px;margin: 6px 0;}
.input_alternative{width: 660px;padding:4px 0;}
.input_justify{width: 693px;}
.wrong{ color: red;}
.correct{ color: green;}
.feedback{ color: green; }
.textarea_evaluation{width: 700px;height: 100px;}
.light_gray_alternative{ background-color: #fafafa;;margin: 8px 0; }
.gray_alternative{ background-color: #eee;;margin: 8px 0; }
.label_justify{ padding: 10px 0 0 0}
.input_correct{ margin-right: 5px; }

/*---------------------- Relatorio de acesso -------------------*/

.left_access{ float: left;padding: 5px 14px; }
.grouplist td{ padding: 0; }

/*---------------------- Boletim -------------------*/
.evaluations{background: #DEEFF6; margin-right: 4px; padding: 2px; width: 54px;}
.evaluations_name{ background: #FFFFFF; padding: 2px; text-align: center; }
.bulletin_note{padding: 2px;height: 12px; text-align: center;}

/*---------------------- Theme -------------------*/
.theme .item{ width: 150px; float: left; margin-right: 10px; }
.theme .item img{ margin: 5px 0 0 25px; cursor: pointer; }

.organizer{ list-style: none; margin: 0; padding:0; }
.organizer li{ list-style: none; margin: 4px 0; padding: 5px; cursor: move; width: 500px; background: #eee; border-left: 15px solid #ddd; }