
.yui-skin-sam .yui-toolbar-container .yui-toolbar-uploadimage span.yui-toolbar-icon {
    background-image: url( ../img/icons/image.gif );
    background-position: 1px 0px;
    left: 5px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-inserthtml span.yui-toolbar-icon {
    background-image: url( ../img/icons/html_editor.gif );
    background-position: 1px 0px;
    left: 5px;
    top: 3px;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-inserthtml a {
    display: none;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont {
	padding:0;
}

.yui-toolbar-container .yui-toolbar-group {
	padding:5px;
}

.yui-skin-sam .yui-editor-panel .yui-toolbar-group-padding {
	width:171px;
}

.yui-skin-sam .yui-editor-panel .height-width {
	margin:0;
}
.yui-skin-sam .yuimenu .bd {
	background-color:#FFFFFF;
	border:1px solid #808080;
	height: auto;
}

.yui-skin-sam .yuimenuitemlabel {
	color:#000000;
	cursor:default;
	padding:0 10px;
	text-decoration:none;
}

.yui-skin-sam .yui-editor-panel label strong {
	font-size: 13px;
}

.yui-skin-sam .yui-editor-panel .yui-toolbar-group h3 {
	font-size: 81%;	
}
.yui-editor-panel .height-width input {
	width: 3em;
	padding: 0;	
}
.yui-skin-sam .yui-toolbar-container .yui-button .first-child {
	height:23px;
}

.paletas{ padding-top: 19px; float: left; width: 120px; margin-left: 5px; }

.yui-toolbar-container SPAN.yui-toolbar-separator{
    height: 5px;
}