[production]
phpSettings.display_startup_errors  = 0
phpSettings.display_errors          = 0
phpSettings.session.cache_expire    = 60
phpSettings.session.cookie_httponly = 1
phpSettings.session.use_only_cookie = 1
phpSettings.default_charset         = "utf-8"
phpSettings.date.timezone           = "America/Sao_Paulo"
phpSettings.soap.wsdl_cache_enabled = 0

bootstrap.path  = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace    = "Application"

constants.UPLOAD_DIR = APPLICATION_PATH  "/../public/upload/"
constants.PAYMENT = true
constants.THEME = "excite-bike"
;Availables themes: blitzer,dot-luv,excite-bike,hot-sneaks,humanity,mint-choc,
;redmond,smoothness,south-street,start,swanky-purse,ui-darkness,ui-lightness,vader
constants.AVERAGE = 7
constants.ATTEMPTS = 3
constants.NEW_USER_TO_GUEST = 0
constants.APP_CHARSET = "utf-8"

;Settings Mail
constants.FROM_EMAIL = "trilhas@server.com"
constants.FROM_NAME = "Trilhas EAD"
constants.MAIL_VECTOR = "-forgot-"

autoloadernamespaces[] = "Tri_"

pluginPaths.Tri_Application_Resource = "Tri/Application/Resource"

; resource view 
resources.view.doctype                      = "XHTML1_STRICT"
resources.view.contentType                  = "text/html; charset=UTF-8"
resources.view.encoding                     = "UTF-8"
resources.view.scriptPath                   = APPLICATION_PATH "/views/scripts"
resources.view.helperPath.Tri_View_Helper[] = "Tri/View/Helper"

; resource layout
resources.layout.layoutPath = APPLICATION_PATH "/views/layouts"

; resource front controller
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.moduleDirectory     = APPLICATION_PATH "/../modules"
resources.modules =

; resource locale 
resources.locale.default = "pt_BR"
resources.locale.force   = true

; resource translate
resources.translate.locale       = "pt_BR"
resources.translate.adapter      = "csv"
resources.translate.data         = APPLICATION_PATH "/../data/language/"
resources.translate.content      = APPLICATION_PATH "/../data/language/"
resources.translate.options.scan = "directory"

; resource cache manager
resources.cachemanager.default.frontend.name                            = "Core"
resources.cachemanager.default.frontend.options.automatic_serialization = 1
resources.cachemanager.default.backend.name                             = "APC"
resources.cachemanager.default.backend.options.cache_dir                = APPLICATION_PATH "/../data/cache/"

; resource mail
resources.mail.transport.type = "Smtp"
resources.mail.transport.auth = "login"
resources.mail.transport.host = "smtp.espacoead.com.br"
resources.mail.transport.username = ""
resources.mail.transport.password = ""
resources.mail.defaultfrom.email = ""
resources.mail.defaultfrom.name = ""

; Files extras de configuration
config.acl      = APPLICATION_PATH "/configs/acl.ini"
config.database = APPLICATION_PATH "/configs/database.ini"
config.menu     = APPLICATION_PATH "/configs/menu.ini"

[staging : production]

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors         = 1
phpSettings.error_reporting        = E_ALL

resources.cachemanager.default.frontend.options.caching = 0
resources.cachemanager.default.backend.name             = "File"

;zfdebug.plugins[] = "Variables"
;zfdebug.plugins[] = "Time"
;zfdebug.plugins[] = "Memory"
;zfdebug.plugins[] = "Registry"
;zfdebug.plugins[] = "Html"
;zfdebug.plugins[] = "Exception"